{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Информация о расписании</h2>
    <table class="table">
        <tr>
            <th>Состав</th>
            <td>{{ schedule.team }}</td>
        </tr>
        <tr>
            <th>Начало постановки</th>
            <td>{{ schedule.start_time }}</td>
        </tr>
        <tr>
            <th>Конец постановки</th>
            <td>{{ schedule.end_time }}</td>
        </tr>
        <tr>
            <th>Сотрудник</th>
            <td>{{ schedule.employee.full_name }}</td>
        </tr>
        <tr>
            <th>Постановка</th>
            <td>{{ schedule.production.title }}</td>
        </tr>
        <tr>
            <th>Стадия</th>
            <td>{{ schedule.stage.title }}</td>
        </tr>
    </table>
    <div style="display: inline-flex; gap: 5px;">
        <a href="{% url 'edit_schedule' schedule.schedule_id %}" class="btn btn-warning d-flex align-items-center">
            <span class="material-icons" style="color: white; font-size: 16px; margin-right: 4px;">edit</span>
            <span style="color: white;">Редактировать</span>
        </a>
        <form action="{% url 'delete_schedule' schedule.schedule_id %}" method="post" style="display:inline;" onsubmit="return confirmDelete();">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger d-flex align-items-center">
                <span class="material-icons" style="color: white; font-size: 16px; margin-right: 4px;">delete</span>
                Удалить
            </button>
        </form>
        <a href="{% url 'schedule' %}" class="btn btn-secondary">Вернуться к списку</a>
    </div>
</div>
<script>
    function confirmDelete() {
        return confirm("Вы действительно хотите удалить эту запись?");
    }
</script>
{% endblock %}